body {
    background-color: #1E1E1E;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Koh Santepheap", serif;
    color: white;
    font-size: 70px;
}

h2 {
    font-family: "Koh Santepheap", serif;
    font-size: 1.2em;
    color: white;
    margin: 0;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 5em;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 16px;
    width: 200px;
    height: 300px; /* Stel een vaste hoogte in voor de kaarten */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease-in-out;
    background-color: #fff;
    position: relative;
}

.card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: absolute; /* Laat de link de hele kaart bedekken */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    padding: 0;
    color: unset;
    text-decoration: none;
    list-style-type: none;
}

.card:hover {
    transform: scale(1.05);
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    flex: 1;
}

.emoji {
    font-size: 48px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zorg ervoor dat de inhoud gecentreerd wordt */
    background-color: #D9D9D9;
    padding: 16px;
    text-align: center;
    flex: 1;
}

.bottom-content {
    flex-grow: 1;
}

.bottom-container h2 {
    font-family: "Koh Santepheap", serif;
    font-size: 1.2em;
    margin: 0;
    color: #1E1E1E;
}

.bottom-container p {
    font-family: "Koh Santepheap", serif;
    font-size: .9em;
    margin: 0;
    margin-top: .7em;
    color: #555;
}

.button {
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 700px;
    font-family: "Koh Santepheap", serif;
}

.details-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.details-content p {
    font-size: 20px;
    line-height: 30px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

@media screen and (min-width: 900px) {
    .blog-container {
        gap: 30px;
    }

    .card {
        width: 260px;
        height: 380px; /* Verhoog de hoogte voor grotere schermen */
    }

    .top-container {
        padding: 60px 30px;
    }

    .emoji {
        font-size: 70px;
    }

    .bottom-container h2 {
        font-size: 1.3em;
    }

    .bottom-container p {
        font-size: 1em;
        margin-top: 1em;
    }
}
